*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    width: 80%;
    min-width: 320px;
    max-width: 200px;
    background-color: red;
    text-align: center;
    border-radius: 7px;
    margin-bottom: -42px;
    display: inline-block;
    margin-left: 7rem;
    margin-top: 20px;
}

.descripcion{
    min-width: 500px;
    max-width: 500px;
    margin: 0 auto;
    background-color: grey;
    border-radius: 7px;
}
p {
    color: black;
    padding: 20px;
}
.cent-img{
    margin-inline: 12rem;
}
.pequeña{
    margin-top: 20px;
    width: 70px;
    height: 70px;
}





